// Defaults: Configurable global variable defaults.

// Breakpoints:
$breakpoint-xs: 10rem !default;
$breakpoint-sm: 20rem !default;
$breakpoint-md: 40rem !default;
$breakpoint-lg: 60rem !default;
$breakpoint-xl: 80rem !default;
$breakpoint-xxl: 90rem !default;

$breakpoints: (
	"xxs": 0rem,
	"xs": $breakpoint-xs,
	"sm": $breakpoint-sm,
	"md": $breakpoint-md,
	"lg": $breakpoint-lg,
	"xl": $breakpoint-xl,
	"xxl": $breakpoint-xxl
);

// Modular Scale Ratios:
$min-ratio: 1.067 !default;
$max-ratio: 1.618 !default;

// Relative Size Ratio:
$ratio: 1.333 !default;