// Defaults: Configurable global variable defaults.

// Breakpoints:
$xs: 10rem !default;
$sm: 20rem !default;
$md: 40rem !default;
$lg: 60rem !default;
$xl: 80rem !default;
$xxl: 90rem !default;

$breakpoints: (
	"xs": $xs,
	"sm": $sm,
	"md": $md,
	"lg": $lg,
	"xl": $xl,
	"xxl": $xxl
);

// Modular Scale Ratios:
$ratio-xs: 1.125 !default;
$ratio-sm: 1.200 !default;
$ratio-md: 1.333 !default;
$ratio-lg: 1.414 !default;
$ratio-xl: 1.500 !default;
$ratio-xxl: 1.618 !default;

$ratios: (
	"xs": $ratio-xs,
	"sm": $ratio-sm,
	"md": $ratio-md,
	"lg": $ratio-lg,
	"xl": $ratio-xl,
	"xxl": $ratio-xxl
);

// Safe Areas:
$safe-top: env(safe-area-inset-top) !default;
$safe-right: env(safe-area-inset-right) !default;
$safe-bottom: env(safe-area-inset-bottom) !default;
$safe-left: env(safe-area-inset-left) !default;

$safe: $safe-top $safe-right $safe-bottom $safe-left;
$safe-x: 0 $safe-right 0 $safe-left;
$safe-y: $safe-top 0 $safe-bottom 0;

$safe-header: $safe-top $safe-right 0 $safe-left;
$safe-content: $safe-x;
$safe-footer: 0 $safe-right $safe-bottom $safe-left;