// Defaults: Configurable global variable defaults.

// Breakpoints:
$breakpoint-xs: 180px !default;
$breakpoint-sm: 320px !default;
$breakpoint-md: 640px !default;
$breakpoint-lg: 960px !default;
$breakpoint-xl: 1280px !default;
$breakpoint-xxl: 1440px !default;

$breakpoints: (
	"xxs": 0px,
	"xs": $breakpoint-xs,
	"sm": $breakpoint-sm,
	"md": $breakpoint-md,
	"lg": $breakpoint-lg,
	"xl": $breakpoint-xl,
	"xxl": $breakpoint-xxl
);

// Modular Scale Ratios:
$min-ratio: 1.067 !default;
$max-ratio: 1.618 !default;