// Functional: Global variables based on a function.

@use "../functions/" as *;

// Absolute Size Values:
$xx-small: root-size(-3);
$x-small: root-size(-2);
$small: root-size(-1);
$medium: root-size(0);
$large: root-size(1);
$x-large: root-size(2);
$xx-large: root-size(3);
$xxx-large: root-size(4);

// Relative Size Values:
$smaller: size(-1);
$larger: size(1);