// Container: Declares a container query context.

@use "sass:meta" as meta;
@use "../variables/private" as *;

@mixin container($name: null) {
	@if not meta.content-exists() {
		container-name: $name;
		container-type: inline-size;
	}
	@else {
		$container: $name !global;
		@content;
		$container: null !global;
	}
}