// Modular Scale: Includes a responsive modular-scale size.

@use "sass:map" as map;
@use "sass:math" as math;
@use "../variables/defaults" as *;
@use "responsive" as *;

@mixin modular-scale($number, $properties...) {
	$previous-key: null;
	@each $key in map.keys($breakpoints) {
		// Get min and max $ratios:
		$min-ratio: map.get($ratios, $previous-key) or 1;
		$max-ratio: map.get($ratios, $key);

		// Calculate $start and $end values:
		$start: math.pow($min-ratio, $number) * 1rem;
		$end: math.pow($max-ratio, $number) * 1rem;

		// Get min and max $breakpoints widths:
		$min-width: map.get($breakpoints, $previous-key) or 0rem;
		$max-width: map.get($breakpoints, $key);

		// Include responsive size value:
		@include responsive($start, $min-width, $end, $max-width) using ($size) {
			@each $property in $properties {
				#{$property}: $size;
			}
			@content($size);
		}

		// Update $previous-key variable:
		$previous-key: $key;
	}
}