// Range: Linearly interpolate values across a container width range.

@use "sass:math" as math;

@function range($start, $min-width, $end, $max-width) {
	// Calculate $preferred size using linear interpolation:
	$slope: math.div($end - $start, $max-width - $min-width);
	$base: $start - $slope * $min-width;
	$preferred: calc($base + (100cqw * $slope));

	// Return responsive range value:
	@return if($end > $start,
		min($preferred, $end),
		max($preferred, $end)
	);
}