// Scale: Responsive "rem" unit value using min and max ratios.

@use "sass:math" as math;
@use "../variables/defaults" as *;

@function scale($number) {
	// Calculate $start and $end values:
	$start: math.pow($min-ratio, $number) * 1rem;
	$end: math.pow($max-ratio, $number) * 1rem;

	// Limit $end size for legibility:
	$end: math.max($end, 0.625rem);

	// Calculate $difference value:
	$difference: $end - $start;

	// Calculate $modifier value:
	$modifier: math.div(100cqw, math.div($breakpoint-xxl, $difference));

	// Return responsive font-size range:
	@return if($end > $start,
		min($start + $modifier, $end),
		max($start + $modifier, $end)
	);
}