// Size: Responsive "rem" unit value using min and max ratios.

@use "sass:math" as math;
@use "../variables/" as *;

@function size($number) {
	// Calculate $min and $max ratios:
	$min: math.pow($min-ratio, $number);
	$max: math.pow($max-ratio, $number);

	// Calculate $start size:
	$start: 1rem * $min;

	// Calculate container width $percentage:
	$percentage: calc(100cqw / math.div($breakpoint-xxl, 16px));
	$percentage: min($percentage, $breakpoint-xxl);

	// Return responsive font-size range:
	@return calc($start + ($max - $min) * $percentage);
}